
<din>
    <h2 class="text-success">@TempData["Create"]</h2>
</din>

<div>
    <h2 class="text-primary">@TempData["Edit"]</h2>
</div>


<div>
    <h2 class="text-danger">  @TempData["Delete"]</h2>
</div>