
<div class="container ">

    <div class="text-center text-primary mb-5">
        <h1>Women Product</h1>
    </div>
    <div class="row">

        <div class="col-md-3">



            <div class="card">

                <div class="image-container">

                    <div class="first">

                        <div class="d-flex justify-content-between align-items-center">

                            <span class="discount">-25%</span>
                            <span class="wishlist"><i class="fa fa-heart-o"></i></span>


                        </div>
                    </div>

                    <img src="https://i.imgur.com/8JIWpnw.jpg" class="img-fluid rounded thumbnail-image">


                </div>


                <div class="product-detail-container p-2">

                    <div class="d-flex justify-content-between align-items-center">

                        <h5 class="dress-name">White traditional long dress</h5>

                        <div class="d-flex flex-column mb-2">

                            <span class="new-price">$3.99</span>
                            <small class="old-price text-right">$5.99</small>
                        </div>

                    </div>


                    <div class="d-flex justify-content-between align-items-center pt-1">

                        <div class="color-select d-flex ">

                            <input type="button" name="grey" class="btn creme">
                            <input type="button" name="red" class="btn red ml-2">
                            <input type="button" name="blue" class="btn blue ml-2">

                        </div>

                        <div class="d-flex ">

                            <span class="item-size mr-2 btn" type="button">S</span>
                            <span class="item-size mr-2 btn" type="button">M</span>
                            <span class="item-size btn" type="button">L</span>

                        </div>


                    </div>


                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div>
                            <i class="fa fa-star-o rating-star"></i>
                            <span class="rating-number">4.8</span>
                        </div>

                        <span class="buy">BUY +</span>

                    </div>



                </div>

            </div>





            <div class="mt-3">
                <div class="card voutchers">

                    <div class="voutcher-divider">

                        <div class="voutcher-left text-center">
                            <span class="voutcher-name">Monday Happy</span>
                            <h5 class="voutcher-code">#MONHPY</h5>

                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount-percent">20%</h5>
                            <span class="off">Off</span>

                        </div>

                    </div>

                </div>

            </div>






        </div>













        <div class="col-md-3">



            <div class="card">

                <div class="image-container">

                    <div class="first">

                        <div class="d-flex justify-content-between align-items-center">

                            <span class="discount">-25%</span>
                            <span class="wishlist"><i class="fa fa-heart-o"></i></span>


                        </div>
                    </div>

                    <img src="https://i.imgur.com/PtepOpe.jpg" class="img-fluid rounded thumbnail-image">


                </div>


                <div class="product-detail-container p-2">

                    <div class="d-flex justify-content-between align-items-center">

                        <h5 class="dress-name">Long sleeve denim jacket</h5>

                        <div class="d-flex flex-column mb-2">

                            <span class="new-price">$3.99</span>
                            <small class="old-price text-right">$5.99</small>
                        </div>

                    </div>


                    <div class="d-flex justify-content-between align-items-center pt-1">

                        <div class="color-select d-flex ">

                            <input type="button" name="grey" class="btn creme">

                            <input type="button" name="darkblue" class="btn darkblue ml-2">

                        </div>

                        <div class="d-flex ">

                            <span class="item-size mr-2 btn" type="button">S</span>
                            <span class="item-size mr-2 btn" type="button">M</span>
                            <span class="item-size btn" type="button">L</span>

                        </div>


                    </div>


                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div>
                            <i class="fa fa-star-o rating-star"></i>
                            <span class="rating-number">4.8</span>
                        </div>

                        <span class="buy">BUY +</span>

                    </div>



                </div>

            </div>







            <div class="mt-3">
                <div class="card voutchers">

                    <div class="voutcher-divider">

                        <div class="voutcher-left text-center">
                            <span class="voutcher-name">Payday Surprise</span>
                            <h5 class="voutcher-code">#SRPSPYDY</h5>

                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount-percent">20%</h5>
                            <span class="off">Off</span>

                        </div>

                    </div>

                </div>

            </div>


        </div>














        <div class="col-md-3">



            <div class="card">

                <div class="image-container">

                    <div class="first">

                        <div class="d-flex justify-content-between align-items-center">

                            <span class="discount">-25%</span>
                            <span class="wishlist"><i class="fa fa-heart-o"></i></span>


                        </div>
                    </div>

                    <img src="https://i.imgur.com/ePJKs8Q.jpg" class="img-fluid rounded thumbnail-image">


                </div>


                <div class="product-detail-container p-2">

                    <div class="d-flex justify-content-between ">

                        <h5 class="dress-name">Hush Puppies</h5>

                        <div class="d-flex flex-column mb-2">

                            <span class="new-price">$3.99</span>
                            <small class="old-price text-right">$5.99</small>
                        </div>

                    </div>


                    <div class="d-flex justify-content-between align-items-center pt-1">

                        <div class="color-select d-flex ">

                            <input type="button" name="grey" class="btn creme">
                            <input type="button" name="yellow" class="btn yellow ml-2">
                            <input type="button" name="blue" class="btn blue ml-2">

                        </div>

                        <div class="d-flex ">

                            <span class="item-size mr-2 btn" type="button">S</span>
                            <span class="item-size mr-2 btn" type="button">M</span>
                            <span class="item-size btn" type="button">L</span>

                        </div>


                    </div>


                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div>
                            <i class="fa fa-star-o rating-star"></i>
                            <span class="rating-number">4.2</span>
                        </div>

                        <span class="buy">BUY +</span>

                    </div>



                </div>

            </div>








            <div class="mt-3">
                <div class="card voutchers">

                    <div class="voutcher-divider">

                        <div class="voutcher-left text-center">
                            <span class="voutcher-name">First order</span>
                            <h5 class="voutcher-code">#HPYFRST</h5>

                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount-percent">20%</h5>
                            <span class="off">Off</span>

                        </div>

                    </div>

                </div>

            </div>


        </div>













        <div class="col-md-3">



            <div class="card">

                <div class="image-container">

                    <div class="first">

                        <div class="d-flex justify-content-between align-items-center">

                            <span class="discount">-25%</span>
                            <span class="wishlist"><i class="fa fa-heart-o"></i></span>


                        </div>
                    </div>

                    <img src="https://i.imgur.com/snffLH3.jpg" class="img-fluid rounded thumbnail-image">


                </div>


                <div class="product-detail-container p-2">

                    <div class="d-flex justify-content-between ">

                        <h5 class="dress-name">Athens skirt </h5>

                        <div class="d-flex flex-column mb-2">

                            <span class="new-price">$3.99</span>
                            <small class="old-price text-right">$5.99</small>
                        </div>

                    </div>


                    <div class="d-flex justify-content-between align-items-center pt-1">

                        <div class="color-select d-flex ">

                            <input type="button" name="grey" class="btn creme">
                            <input type="button" name="red" class="btn red ml-2">
                            <input type="button" name="blue" class="btn blue ml-2">

                        </div>

                        <div class="d-flex ">

                            <span class="item-size mr-2 btn" type="button">S</span>
                            <span class="item-size mr-2 btn" type="button">M</span>
                            <span class="item-size btn" type="button">L</span>

                        </div>


                    </div>


                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div>
                            <i class="fa fa-star-o rating-star"></i>
                            <span class="rating-number">3.8</span>
                        </div>

                        <span class="buy">BUY +</span>

                    </div>



                </div>

            </div>









            <div class="mt-3">
                <div class="card voutchers">

                    <div class="voutcher-divider">

                        <div class="voutcher-left text-center">
                            <span class="voutcher-name">Vegetarian Food</span>
                            <h5 class="voutcher-code">#VEGANLOVE</h5>

                        </div>
                        <div class="voutcher-right text-center border-left">
                            <h5 class="discount-percent">20%</h5>
                            <span class="off">Off</span>

                        </div>

                    </div>

                </div>

            </div>


        </div>


    </div>







</div>

<style>
   

    .container {
        margin-top:200px;
        width: 900px;
    }

    .card {
        background-color: #fff;
        border: none;
        border-radius: 10px;
        width: 190px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .image-container {
        position: relative;
    }

    .thumbnail-image {
        border-radius: 10px !important;
    }


    .discount {
        background-color: red;
        padding-top: 1px;
        padding-bottom: 1px;
        padding-left: 4px;
        padding-right: 4px;
        font-size: 10px;
        border-radius: 6px;
        color: #fff;
    }

    .wishlist {
        height: 25px;
        width: 25px;
        background-color: #eee;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .first {
        position: absolute;
        width: 100%;
        padding: 9px;
    }


    .dress-name {
        font-size: 13px;
        font-weight: bold;
        width: 75%;
    }


    .new-price {
        font-size: 13px;
        font-weight: bold;
        color: red;
    }

    .old-price {
        font-size: 8px;
        font-weight: bold;
        color: grey;
    }

/*     //here */
    .btn {
    /*     width: 14px;
        height: 14px; */
        border-radius: 50%;
        padding: 3px;
    }

    .creme {
        background-color: #fff;
        border: 2px solid grey;
    }

        .creme:hover {
            border: 3px solid grey;
        }

        .creme:focus {
            background-color: grey;
        }


    .red {
        background-color: #fff;
        border: 2px solid red;
    }


        .red:hover {
            border: 3px solid red;
        }

        .red:focus {
            background-color: red;
        }



    .blue {
        background-color: #fff;
        border: 2px solid #40C4FF;
    }

        .blue:hover {
            border: 3px solid #40C4FF;
        }

        .blue:focus {
            background-color: #40C4FF;
        }

    .darkblue {
        background-color: #fff;
        border: 2px solid #01579B;
    }

        .darkblue:hover {
            border: 3px solid #01579B;
        }

        .darkblue:focus {
            background-color: #01579B;
        }

    .yellow {
        background-color: #fff;
        border: 2px solid #FFCA28;
    }

        .yellow:hover {
            border-radius: 3px solid #FFCA28;
        }

        .yellow:focus {
            background-color: #FFCA28;
        }


    .item-size {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background: #fff;
        border: 1px solid grey;
        color: grey;
        font-size: 10px;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
    }


    .rating-star {
        font-size: 10px !important;
    }

    .rating-number {
        font-size: 10px;
        color: grey;
    }

    .buy {
        font-size: 12px;
        color: purple;
        font-weight: 500;
    }














    .voutchers {
        background-color: #fff;
        border: none;
        border-radius: 10px;
        width: 190px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        overflow: hidden;
    }

    .voutcher-divider {
        display: flex;
    }

    .voutcher-left {
        width: 60%
    }

    .voutcher-name {
        color: grey;
        font-size: 9px;
        font-weight: 500;
    }

    .voutcher-code {
        color: red;
        font-size: 11px;
        font-weight: bold;
    }

    .voutcher-right {
        width: 40%;
        background-color: purple;
        color: #fff;
    }

    .discount-percent {
        font-size: 12px;
        font-weight: bold;
        position: relative;
        top: 5px;
    }

    .off {
        font-size: 14px;
        position: relative;
        bottom: 5px;
    }
</style>

       @*  womenpiccard *@


<div class=" text-center text-primary" style="margin-bottom:0px;margin-top:50px; ">
    <h1 style="font-family:'Lucida Bright'">shose women</h1>
</div>


<div class="shell" >
    <div class="container" style="margin-top:0px;">
        <div class="row">
            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="https://i.pinimg.com/564x/c8/37/e9/c837e91ba477ee9f70a30758404b2aa3.jpg" alt="Product" class="img-responsive" />
                    </div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Ethnic</span>
                        </div>
                        <div class="title-product">
                            <h3>My face not my heart</h3>
                        </div>
                       
                       
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img"><img src="https://m.media-amazon.com/images/G/01/sobolano/adidas.sobolano/1.png" alt="Product" class="img-responsive" /></div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Introvert</span>
                        </div>
                        <div class="title-product">
                            <h3>My face not my heart</h3>
                        </div>
                      
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img"><img src="https://rukminim2.flixcart.com/image/832/832/xif0q/shoe/x/s/a/7-ig0329-7-adidas-wonblu-dshgry-lucpnk-original-imagrh2dkkxfpuwy.jpeg?q=70&crop=false" alt="Product" class="img-responsive" /></div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Beauty</span>
                        </div>
                        <div class="title-product">
                            <h3>My face not my heart</h3>
                        </div>
                    
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img"><img src="https://5.imimg.com/data5/ANDROID/Default/2021/8/GY/QW/OT/16516658/product-jpeg-1000x1000.jpg" alt="Product" class="img-responsive" /></div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Drama</span>
                        </div>
                        <div class="title-product">
                            <h3>My face not my heart cvf ggf gfg g</h3>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img">
                        <img src="https://static2.finnhub.io/file/publicdatany/finnhubimage/stock_logo/942958687256.svg" alt="Product" class="img-responsive" />
                    </div>

                </div>
            </div>
            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img"><img src="https://i.pinimg.com/564x/9d/67/5a/9d675a6cf9db292928daafa52093dec4.jpg" alt="Product" class="img-responsive" /></div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Introvert</span>
                        </div>
                        <div class="title-product">
                            <h3>My face not my heart</h3>
                        </div>
                        <div class="description-prod">
                            <p>Description Product tell me height</p>
                        </div>
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">Rp500.000</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wsk-cp-product">
                    <div class="wsk-cp-img"><img src="https://i2.pickpik.com/photos/519/531/779/sport-adidas-shirt-street-preview.jpg" alt="Product" class="img-responsive" /></div>
                    <div class="wsk-cp-text">
                        <div class="category">
                            <span>Beauty</span>
                        </div>
                        <div class="title-product">
                            <h3>My face not my heart</h3>
                        </div>
                        <div class="description-prod">
                            <p>Description  player good work now check this link</p>
                        </div>
                        <div class="card-footer">
                            <div class="wcf-left"><span class="price">Rp500.000</span></div>
                        </div>
                    </div>
                </div>
            </div>
       


        </div>
    </div>
</div>



<style>
    body{

}
.shell{
  padding:80px 0;
}
.wsk-cp-product{
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px auto;
}
.wsk-cp-img{
  position:absolute;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:6px;
}
.wsk-cp-product:hover .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product:hover .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.wsk-cp-text{
  padding-top:150%;
}
.wsk-cp-text .category{
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  margin-bottom:45px;
  position:relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > *{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -khtml-transform: translate(-50%,-50%);
    
}
.wsk-cp-text .category > span{
  padding: 12px 30px;
  border: 1px solid #313131;
  background:#212121;
  color:#fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius:27px;
  transition: all 0.05s ease-in-out;
  
}
.wsk-cp-product:hover .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category{
  margin-top: 0px;
}
.wsk-cp-text .title-product{
  text-align:center;
}
.wsk-cp-text .title-product h3{
  font-size:20px;
  font-weight:bold;
  margin:15px auto;
  overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  width:100%;
}
.wsk-cp-text .description-prod p{
  margin:0;
}
/* Truncate */
.wsk-cp-text .description-prod {
  text-align:center;
  width: 100%;
  height:62px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  margin-bottom:15px;
}
.card-footer{
  padding: 25px 0 5px;
  border-top: 1px solid #ddd;
}
.card-footer:after, .card-footer:before{
  content:'';
  display:table;
}
.card-footer:after{
  clear:both;
}

.card-footer .wcf-left{
  float:left;
  
}

.card-footer .wcf-right{
  float:right;
}

.price{
  font-size:18px;
  font-weight:bold;
}

a.buy-btn{
  display:block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  width:35px;
  height:35px;
  line-height:35px;
  border-radius:50%;
  border:1px solid #212121;
  transition: all 0.2s ease-in-out;
}
a.buy-btn:hover , a.buy-btn:active, a.buy-btn:focus{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
  text-decoration:none;
}
.wsk-btn{
  display:inline-block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #FF9800;
  background: #FF9800;
  padding:12px 30px;
  border-radius:27px;
  margin: 0 5px;
}
.wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active{
  text-decoration:none;
  color:#fff;
}  
.red{
  color:#F44336;
  font-size:22px;
  display:inline-block;
  margin: 0 5px;
}
media screen and (max-width: 991px) {
  .wsk-cp-product{
    margin:40px auto;
  }
  .wsk-cp-product .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  .wsk-cp-product .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product .wsk-cp-text .category{
  margin-top: 0px;
}
a.buy-btn{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
}
}
</style>
       @*  womenpiccard *@